<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">

<head>
    <script src="static/bootstrap/js/color-modes.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Регистрация на мероприятие</title>

    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet">
</head>

<body>
    <main class="form-signin w-100 m-auto my-4">
        <video id="video" class="rounded mx-auto d-block" playsinline>Видеопоток недоступен</video>
        <button id="send_button" class="btn btn-primary w-100 my-2" type="button">Отправить</button>
        <canvas id="canvas"></canvas>
        <div id="alert_err" hidden class="alert alert-warning" role="alert">
            Не удалось Вас распознать! Попробуйте еще раз
        </div>
        <div hidden id="res_card" class="card">
            <img id="res_img" class="card-img-top">
            <div class="card-body">
                <h5 id="res_name" class="card-title"></h5>
            </div>
            <div class="card-footer">
                <button id="clear_card" class="btn btn-primary" type="button">Очистить</button>
            </div>
        </div>
    </main>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/app.js"></script>
</body>

</html>