<!doctype html>
<html>

<head>
    <title>WebRTC: Still photo capture demo</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="static/main.css" type="text/css" media="all">
    <script src="static/capture.js">
    </script>
</head>

<body>
    <div class="contentarea">
        <h1>
            MDN - WebRTC: Still photo capture demo
        </h1>
        <p>
            Этот пример показывает, как настроить медиа-поток с помощью встроенной веб-камеры, получить изображение из
            этого потока и создать PNG с использованием этого изображения.
        </p>
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <button id="startbutton">Take photo</button>
        </div>
        <canvas id="canvas">
        </canvas>
        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box.">
        </div>
        
    </div>
</body>

</html>