{% extends "base.html" %}

{% block content %}
<video id="video" class="rounded mx-auto d-block" playsinline>Видеопоток недоступен</video>
<button id="send_button" class="btn btn-primary my-2 d-block mx-auto" type="button">Отправить</button>
<canvas id="canvas"></canvas>
<div id="alert_err" class="alert alert-warning d-none mx-auto" role="alert">
    Не удалось Вас распознать! Попробуйте еще раз
</div>
<div id="res_card" class="card d-none d-block mx-auto">
    <img id="res_img" class="card-img-top">
    <div class="card-body">
        <h5 id="res_name" class="card-title"></h5>
    </div>
    <div class="card-footer">
        <button id="clear_card" class="btn btn-primary" type="button">Очистить</button>
    </div>
</div>
{% endblock %}